/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* Color  */
:root{
    --primary : #1a253f;
    --dark : #151A33;
    --secondary : #2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure : #eff2f9;
    --fade : #7081b9;
    --mild : #8997bd;
    --footer : #212A4A;
    --black:#060b1b;
    --twitter: #4ac7ec;
    --dribbble : #ff5da0;
    --success : #1ecab8;
    --danger : #f1646c;
    --dark-blue : #28365f;
    --dark-gray: #171f33;
    --yellow: #f3c74d;
}
/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
    font-smooth: antialiased;
    padding-bottom: 4rem;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    line-height: 1;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* --------------Strat nav section------------- */
nav{
    background: var(--primary);
    padding: 1.6rem 0;
}
nav .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .inner .logo{
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}
nav .inner .logo i{
    color: var(--info);
}
nav .inner button{
    background: var(--secondary);
    border: navajowhite;
    padding: 0.6rem 1rem;
    color: var(--pure);
    font-size: 14px;
    border-radius: 4px;
}
/* --------------End nav section------------- */

/* --------------Strat Profile Section------------- */
section.profile{
    background: var(--black);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    clip-path: polygon(0 0,100% 0,100% 80%,25% 100%,0 80%);
    padding-bottom: 4rem;
}
section.profile .left{
    flex: 2;
    display: flex;
    align-items: center;

}
section.profile .right{
    flex: 1;
}
section.profile .left h2{
    color: var(--fade);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}
section.profile .left p{
    color: var(--mild);
    font-size: 14px;
}
section.profile .left p b{
    padding-bottom: 1rem;
    font-weight: 400;
}
section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after{
    background: linear-gradient(to right,var(--dribbble), var(--mild));
}
section.profile .left img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar_block {
    position: relative;
    margin-right: 2rem;
}
.avatar_block span{
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--info);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32, 41, 54, 0.5);
    cursor: pointer;
    transition: 0.5s;
}
.avatar_block span:hover{
    box-shadow: 0px 0px 20px 0px rgba(42, 51, 60, 0.9)
}
section.profile .right ul.contact{
    list-style-type:none ;
    margin-bottom: 1.6rem;
}
section.profile .right ul.contact li{
    color: var(--ternary);
    margin-bottom: 0.7rem;
    font-style: 14px;
}
section.profile .right ul.contact li i{
    font-size: 18px;
    margin-right: 0.3rem;
}
section.profile .right ul.social{
    display: flex;
    align-items: center;
    list-style-type: none;

}
section.profile .right ul.social li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--pure);
    line-height: 36px;
    text-align: center;
    transition: 0.5s;
}
section.profile .right ul.social li a:hover{
    box-shadow: 2px 2px 60px 2px #008888;

}
section.profile .right ul.social li {
    margin-right: 0.8rem;
}
section.profile .right ul.social li:nth-child(1) a{
    background: var(--secondary);
}
section.profile .right ul.social li:nth-child(2) a{
    background: var(--dribbble);
}
section.profile .right ul.social li:nth-child(3) a{
    background: var(--twitter);
}
/* --------------End Profile Section------------- */
/* --------------Start About Section------------- */
.section_heading{
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    box-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
    position: relative;
}
.section_heading::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    top: 28px;
    left: 0;
    border: 1px dashed var(--danger);
}
section{
    padding: 3rem;
}
main{
    background: var(--primary);
}
section.about .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16rem;
}
section.about .content h2{
    color: var(--info);
    font-style: 18px;
    line-height: 22px;
    grid-row: 700;
    margin-bottom: 1.6rem;
}
section.about .content p{
    color: var(--ternary);
    font-size: 14px;
    line-height: 2rem;
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}
section.about .content .left a{
    background: rgba(77, 121, 246, 0.1);
    color: var(--info);
    padding: 8px 10px;
    font-size: 13px;
    border: none;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}
section.about .content .right p{
    line-height: 1.6rem;
    font-size: 14px;
    color: var(--ternary);
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}
section.about .content .right p span:nth-child(1){
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display: block;
    position: relative;
}
section.about .content .right p span:nth-child(2){
    padding-left: 150px;
    display: block;
}
section.about .content .right p span:nth-child(1)::after{
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
    
}
/* --------------End About Section------------- */

/* --------------Start Skills Section------------- */
section.skills .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
section.skills .content .left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.skills .content .left .heading{
    margin-bottom: 2rem;
}
section.skills .content .left .heading i{
    /* color: var(--dribbble); */
    color:  rgba(241, 100, 108,0.7);
    font-size: 50px;
}
section.skills .content .left .heading h5{
    font-size: 16px;
    margin-top: 0.7rem;
    color: var(--mild);
}
section.skills .content .left p{
    font-size: 14px;
    color: var(--ternary);
    line-height: 1.7rem;
}
section.skills .content .left p.center{
    color: var(--fade);
    margin: 4px 0;
}
section.skills .content .left .item{
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;
}
section.skills .content .left .item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--dribbble);
    border-radius: 50%;
    margin-left: -21px;
}
section.skills .content .left .timeline_wrapper{
    border-left: 2px dashed rgba(241, 100, 108,0.2);
}
section.skills .right .skills_wrapper .skill-box h4{
    color: var(--ternary);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom:1rem ;
}
section.skills .right .skills_wrapper .skill-box{
    margin-bottom: 4rem;
}
section.skills .right .skills_wrapper .skill-box .progress_wrap{
    background: #20294a;
    height: 5px;
    width: 100%;
    border: 2px solid #1a253f;
    box-shadow: 0px 0px 1.70px 0.40px #4d79f6;
    border-radius: 10px;

}
section.skills .right .skills_wrapper .skill-box .progress_wrap .progress_bar{
    display: block;
    height: 100%;
    background: var(--info);
    width: 0;
    position: relative;
    transition: all 1s ease-in-out;
}
section.skills .right .skills_wrapper .skill-box .progress_wrap .progress_bar .tooltip{
    position: absolute;
    right: -15px;
    top: -30px;
    margin-bottom: 10px;
    color: var(--ternary);
    font-size: 16px;
    text-transform: uppercase;
}
/* --------------End Skills Section------------- */
/* --------------Start Counter Section------------- */
section.counter_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--dark-gray);
}
section.counter_wrapper > div{
    display: flex;
    align-items: center;
}
section.counter_wrapper > div i{
    font-size: 42px;
    margin-right: 10px;

}
section.counter_wrapper > div:nth-child(1) i{
    color: var(--yellow);
}
section.counter_wrapper > div:nth-child(2) i{
    color: var(--success);
}
section.counter_wrapper > div:nth-child(3) i{
    color: var(--danger);
}
section.counter_wrapper > div h3{
    font-size: 22px;
    font-weight: 600;
    columns: var(--fade);
    margin-bottom: 8px;
}
section.counter_wrapper > div h5{
    font-size: 14px;
    color: var(--fade);
}
/* --------------End Counter Section------------- */
/* --------------Start Work Section------------- */
section.work .work_wrapper{
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     grid-gap: 60px;
}

section.work .work_wrapper .protfolio .profolio_menu ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section.work .work_wrapper .protfolio .profolio_menu ul li{
    color: var(--fade);
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;

}
section.work .work_wrapper .protfolio .profolio_menu ul li.active{
    border-color: var(--info);
    color: var(--info);
    transition: all 0.6s ease-in;
}
section.work .work_wrapper .protfolio .profolio_item{
    width:100% ;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.4s ease-in;
  
}
section.work .work_wrapper .protfolio .profolio_item .item{
    /* flex: 0 0 33.333333%; */
    width:33.333333% ;
}
section.work .work_wrapper .protfolio .profolio_item a img{
    display:block;
    width: 100%;
    opacity: 0.8;
    height: 90px;
    /* object-fit: cover; */
   
}
/* Start slider  */
section.work .work_wrapper .slider_wrapper .icon_wrap{
    color: var(--info);
    font-size: 26px;
    text-align: center;
}
section.work .work_wrapper .slider_wrapper .slider .slide p{
    color: var(--ternary);
    line-height: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
section.work .work_wrapper .slider_wrapper .slider .slide img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
section.work .work_wrapper .slider_wrapper .slider .slide h2{
    font-size: 16px;
    color: var(--info);
    margin-top: 1rem;
}
section.work .work_wrapper .slider_wrapper .slider .slide h6{
    color: var(--ternary);
    margin-top: 1rem;

}
section.work .work_wrapper .slider_wrapper .slider .slide{
    display: flex;
    flex-direction: column;
    align-items: center;

}
section.work .work_wrapper .slider_wrapper{
    overflow: hidden;
}
/* --------------End Work Section------------- */
/* --------------End Partners Section------------- */
section.partners .brands_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* --------------End Partners Section------------- */
/* --------------Start Contact Section------------- */
section.contact .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 60px;
    margin-top: 40px;
    align-items: center;
}
section.contact .wrapper .left > div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
section.contact .wrapper .left > div div:nth-child(1){
    margin-right: 13px;
}
section.contact .wrapper .left i{
    font-size: 30px;
    color: var(--info);
}
section.contact .wrapper .left h4{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    
}
section.contact .wrapper .left{
    color: var(--ternary);
}
section.contact .wrapper .left h4 + span{
    font-weight: 100;
    font-size: 14px;
}
/* form  */
section.contact .wrapper .right .form_group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
}
section.contact .wrapper .right .form_group > div{
    display: flex;
    flex-direction: column;
}
section.contact .wrapper .right .form_group >div label{
    color: var(--ternary);
    margin-bottom: 8px;
    

}
section.contact .wrapper .right .form_group >div input, section.contact .wrapper .right .form_group.textarea_wrapper textarea{
    padding: 8px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid var(--dark-blue);
    color: var(--ternary);
    font-size: 16px;
    resize: none;
    margin-bottom: 8px;

}
section.contact .wrapper .right .form_group >div input:focus, section.contact .wrapper .right .form_group.textarea_wrapper textarea:focus{
    border-color: var(--secondary);
    outline: none;
}
section.contact .wrapper .right .form_group.textarea_wrapper{
    display: block;
    width: 100%;
}
section.contact .wrapper .right button{
    background: var(--info);
    border: none;
    padding: 1rem 2rem;
    color: var(--pure);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: .5 ease-in-out;
}
section.contact .wrapper .right button:hover{
    background-color: var(--secondary);

}
/* --------------End Contact Section------------- */
/* footer  */
footer{
    background-color: var(--footer);
    text-align: center;
    padding: 2rem 0;
    font-size: 14px;
    color: var(--ternary);
}

/* @media */

@media (max-width:1260px){
    .container{
        max-width: 90%;
    }
}
@media (max-width:1024px){
    section.profile{
        flex-direction: column;
        align-items: flex-start;
        clip-path: none;
    }
    section.profile .left{
        margin-bottom: 2.5rem;
    }
    section.profile .right{
        align-self: flex-end;
    }
    section.work .work_wrapper{
        display: block;
    }
    section.work .work_wrapper .slider_wrapper{
        margin-bottom: 8rem;
    }
    section.partners{
        margin-top: 4rem;
    }
    section.work .work_wrapper .protfolio .profolio_item a img{
        height: 100px;
    }
}
@media (max-width:970px){
    section.skills .content{
        display: block;  
    }
    section.skills .content .left{
        margin-bottom: 6rem;
    }
}
@media (max-width:770px){
    section.about .content{
        display: block;
    }
    section.about .content .left{
        margin-bottom: 6rem;
    }
    section.contact .wrapper{
        display: block;

    }
    section.contact .wrapper .left{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section.counter_wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    section.counter_wrapper > div{
        margin-bottom: 4rem;
    }
}
@media (max-width:776px){
    section.profile{
        align-items: center;
    }
    section.profile .right{
        align-self: center;
    }
    section.profile .left{
        margin-bottom: 6rem;
    }
    section.work .work_wrapper .protfolio .profolio_item .item{
        /* flex: 0 0 33.333333%; */
        width:48% ;
    }
    section.contact .wrapper .right .form_group{
        grid-template-columns: 1fr;
    }
}